#!/bin/sh

# Brewfile hash: {{ include "dot_config/homebrew/Brewfile.tmpl" | sha256sum }}

BUNDLE_FILE="$HOME/.config/homebrew/Brewfile"

if ! command gum >/dev/null 2>&1 || [ "$VERBOSE_SCRIPTS" = 1 ]; then
  brew bundle install --file $BUNDLE_FILE
  brew bundle cleanup --file $BUNDLE_FILE --force
else
  gum spin \
    --title "Homebrew install..." \
    --show-error \
    --spinner.foreground="2" \
    -- brew bundle install --file $BUNDLE_FILE

  gum spin \
    --title "Homebrew cleanup..." \
    --show-error \
    --spinner.foreground="3" \
    -- brew bundle cleanup --file $BUNDLE_FILE --force
fi
