#!/bin/sh

# Synchronize machine state with Brewfile
# Brewfile hash: {{ include "dot_config/homebrew/Brewfile.tmpl" | sha256sum }}

if [ -n "${DEBUG_SCRIPTS+x}" ] && [ "$DEBUG_SCRIPTS" -eq 1 ]; then
  set -v
fi

run() {
  INSTALL_RESULT="$(brew bundle install --global | grep '^Installing')"
  CLEANUP_RESULT="$(brew bundle cleanup --global --force)"

  if [ -n "$INSTALL_RESULT" ]; then
    echo "$INSTALL_RESULT" | gum style --foreground 2
  fi

  if [ -n "$CLEANUP_RESULT" ]; then
    echo "$CLEANUP_RESULT" | gum style --foreground 1
  fi
}

export -f run

gum spin --title "Syncing Brewfile..." -- sh -c run
