background = {{palette.base}}
foreground = {{palette.text}}

selection-background = {{palette.overlay_2}}
selection-foreground = {{palette.base}}

cursor-color = {{palette.lavender}}
cursor-text = {{palette.crust}}

palette = 0={{palette.surface_1}}
palette = 1={{palette.red}}
palette = 2={{palette.green}}
palette = 3={{palette.peach}}
palette = 4={{palette.blue}}
palette = 5={{palette.pink}}
palette = 6={{palette.teal}}
palette = 7={{palette.subtext_0}}

palette = 8={{palette.surface_2}}
palette = 9={{palette.red}}
palette = 10={{palette.green}}
palette = 11={{palette.yellow}}
palette = 12={{palette.blue}}
palette = 13={{palette.pink}}
palette = 14={{palette.teal}}
palette = 15={{palette.subtext_1}}

palette = 16={{palette.peach}}
palette = 17={{palette.rosewater}}

# vim:ft=ghostty
