themes {
    barista {
        text_unselected {
            base "{{palette.text}}"
            background "{{palette.surface_0}}"
            emphasis_0 9
            emphasis_1 6
            emphasis_2 2
            emphasis_3 "#6d8f59"
        }
        text_selected {
            base 15
            background 8
            emphasis_0 9
            emphasis_1 6
            emphasis_2 2
            emphasis_3 5
        }
        ribbon_unselected {
            base "{{palette.overlay_1}}"
            background "{{palette.surface_1}}"
            emphasis_0 "{{palette.overlay_0}}"
            emphasis_1 "{{palette.crust}}"
            emphasis_2 4
            emphasis_3 5
        }
        ribbon_selected {
            base "{{palette.surface_0}}"
            background "{{palette.rosewater}}"
            emphasis_0 1
            emphasis_1 9
            emphasis_2 5
            emphasis_3 4
        }
        table_title {
            base 2
            background 0
            emphasis_0 9
            emphasis_1 6
            emphasis_2 2
            emphasis_3 5
        }
        table_cell_unselected {
            base 15
            background 0
            emphasis_0 9
            emphasis_1 6
            emphasis_2 2
            emphasis_3 5
        }
        table_cell_selected {
            base 15
            background 8
            emphasis_0 9
            emphasis_1 6
            emphasis_2 2
            emphasis_3 5
        }
        list_unselected {
            base 15
            background 0
            emphasis_0 9
            emphasis_1 6
            emphasis_2 2
            emphasis_3 5
        }
        list_selected {
            base 15
            background "{{palette.surface_0}}"
            emphasis_0 9
            emphasis_1 6
            emphasis_2 2
            emphasis_3 5
        }
        frame_unselected {
            base "{{palette.surface_2}}"
            background 0
            emphasis_0 9
            emphasis_1 6
            emphasis_2 5
            emphasis_3 0
        }
        frame_selected {
            base "{{palette.overlay_0}}"
            background 0
            emphasis_0 9
            emphasis_1 6
            emphasis_2 5
            emphasis_3 0
        }
        frame_highlight {
            base 9
            background 0
            emphasis_0 5
            emphasis_1 9
            emphasis_2 9
            emphasis_3 9
        }
        exit_code_success {
            base 2
            background 0
            emphasis_0 6
            emphasis_1 0
            emphasis_2 5
            emphasis_3 4
        }
        exit_code_error {
            base 1
            background 0
            emphasis_0 3
            emphasis_1 0
            emphasis_2 0
            emphasis_3 0
        }
        multiplayer_user_colors {
            player_1 5
            player_2 4
            player_3 0
            player_4 3
            player_5 6
            player_6 0
            player_7 1
            player_8 0
            player_9 0
            player_10 0
        }
    }
}

// vim:ft=kdl
