#!/bin/sh
# Synchronize machine state with Brewfile
# Brewfile hash: {{ include "dot_config/homebrew/Brewfile.tmpl" | sha256sum }}

if [ -n "${DEBUG_SCRIPTS+x}" ] && [ "$DEBUG_SCRIPTS" -eq 1 ]; then
  set -ev
else
  set -e
fi

PATH="/opt/homebrew/bin:$PATH"
BUNDLE_FILE="$HOME/.config/homebrew/Brewfile"

gum spin --title "Syncing Brewfile..." -- brew bundle install --file $BUNDLE_FILE
brew bundle cleanup --file $BUNDLE_FILE --force
