#!/bin/sh

# Brewfile hash: {{ include "dot_config/homebrew/Brewfile.tmpl" | sha256sum }}

BUNDLE_FILE="$HOME/.config/homebrew/Brewfile"

brew bundle install --file $BUNDLE_FILE
brew bundle cleanup --file $BUNDLE_FILE --force

# vim:ft=sh
