version: 3

agent:
  authtoken: {{ onepasswordRead "op://private/kzlkoloxpj6c63iixvemy7b6gy/credential" }}
  console_ui_color: transparent

endpoints:
  - name: ad-hoc
    upstream:
      url: 8000
  - name: phoenix
    upstream:
      url: 4000
