{{- if eq .chezmoi.hostname "weatherwax" }}
{
  "$schema": "https://opencode.ai/config.json",
  "mcp": {
    "context7": {
      "type": "remote",
      "url": "https://mcp.context7.com/mcp",
      "headers": {
        "CONTEXT7_API_KEY": "{env:CONTEXT7_API_KEY}"
      }
    },
    "github": {
      "type": "remote",
      "url": "https://api.githubcopilot.com/mcp",
      "headers": {
        "Authorization": "Bearer {env:GITHUB_PAT}"
      }
    },
    "tidewave": {
      "type": "remote",
      "url": "http://localhost:4000/tidewave/mcp",
    },
  }
}
{{ end }}

{{- if eq .chezmoi.hostname "joulie" }}
{
  "$schema": "https://opencode.ai/config.json",
  "provider": {
    "amazon-bedrock": {
      "options": {
        "region": "us-east-1",
        "profile": "internal-eng-us-east-1"
      }
    }
  },
  "mcp": {
    "context7": {
      "type": "remote",
      "url": "https://mcp.context7.com/mcp",
      "headers": {
        "CONTEXT7_API_KEY": "{env:CONTEXT7_API_KEY}"
      }
    },
    "github": {
      "type": "remote",
      "url": "https://api.githubcopilot.com/mcp",
      "headers": {
        "Authorization": "Bearer {env:GITHUB_PAT}"
      }
    },
    "shortcut": {
      "type": "local",
      "command": ["npx", "-y", "@shortcut/mcp@latest"],
      "environment": {
        "SHORTCUT_API_TOKEN": "{env:SHORTCUT_API_TOKEN}"
      }
    },
    "tidewave": {
      "type": "remote",
      "url": "http://localhost:4000/tidewave/mcp",
    },
  }
}
{{ end }}
