export XDG_DATA_HOME="$HOME/.local/share"
export XDG_CONFIG_HOME="$HOME/.config"
export XDG_STATE_HOME="$HOME/.local/state"
export XDG_CACHE_HOME="$HOME/.cache"

export PATH="$HOME/.local/bin:$PATH"
export PATH="$HOME/go/bin:$PATH"

export BROWSER="open"
export EDITOR="nvim"
export ERL_AFLAGS='-kernel shell_history = "enabled"'
export GPG_TTY="(tty)"
export KERL_CONFIGURE_OPTIONS="--without-javac"
export PLAYDATE_SDK_PATH="$HOME/Developer/PlaydateSDK/"
export SSH_AUTH_SOCK="$HOME/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"

export HOMEBREW_BUNDLE_NO_UPGRADE=true
export HOMEBREW_NO_AUTO_UPDATE=true
