# Taps
tap "charmbracelet/tap"
tap "jimeh/emacs-builds"
tap "morantron/tmux-fingers"
tap "nikitabobko/tap"
tap "sst/tap"
tap "timescam/tap"

# Formulae
brew "aichat"
brew "atuin"
brew "bash-language-server"
brew "bat"
brew "bob"
brew "bottom"
brew "colima"
brew "curl"
brew "difftastic"
brew "docker"
brew "docker-buildx"
brew "docker-compose"
brew "docker-credential-helper"
brew "dockutil"
brew "dust"
brew "eslint_d"
brew "exercism"
brew "eza"
brew "fabric-ai"
brew "fastfetch"
brew "fd"
brew "fish"
brew "fish-lsp"
brew "flyctl"
brew "fnlfmt"
brew "fzf"
brew "gcc"
brew "gh"
brew "git"
brew "glow"
brew "gnupg"
brew "gomplate"
brew "gpg-tui"
brew "gs"
brew "gum"
brew "htop"
brew "icu4c@77"
brew "imagemagick"
brew "jq"
brew "lazygit"
brew "libgccjit"
brew "libpq"
brew "libressl"
brew "llvm"
brew "luajit"
brew "mermaid-cli"
brew "mise"
brew "morantron/tmux-fingers/tmux-fingers"
brew "nmap"
brew "node"
brew "ossp-uuid"
brew "pgformatter"
brew "pkgconf"
brew "pngpaste"
brew "pyright"
brew "readline"
brew "rg"
brew "sd"
brew "sleek"
brew "sqlfluff"
brew "sst/tap/opencode"
brew "starship"
brew "stylelint"
brew "timescam/tap/pay-respects"
brew "tio"
brew "tldr"
brew "tmux"
brew "tmuxp"
brew "tree"
brew "tree-sitter"
brew "vale"
brew "w3m"
brew "watchexec"
brew "websocat"
brew "xmlstarlet"
brew "yazi"
brew "zlib"
brew "zoxide"

# Casks
cask "1password"
cask "1password-cli"
cask "aerospace"
cask "amethyst"
cask "appcleaner"
cask "arc"
cask "bartender"
cask "cleanshot"
cask "daisydisk"
cask "dash"
cask "discord"
cask "dropbox"
cask "fantastical"
cask "figma"
cask "firefox"
cask "ghostty"
cask "gpg-suite-no-mail"
cask "homerow"
cask "istat-menus"
cask "jimeh/emacs-builds/emacs-app"
cask "karabiner-elements"
cask "keycastr"
cask "kitty"
cask "livebook"
cask "ngrok"
cask "obsidian"
cask "opal-composer"
cask "postico"
cask "postman"
cask "raycast"
cask "utm"
cask "vlc"
cask "zed"

mas "Kagi for Safari", id: 1622835804
mas "Klack", id: 6446206067
mas "Looking Glass - Music Remote", id: 1602004436
mas "Tailscale", id: 1475387142

{{- if eq .chezmoi.hostname "bienjensu" }}
cask "affinity-designer"
cask "affinity-photo"
cask "affinity-publisher"
cask "blender"
cask "epic-games"
cask "godot"
cask "hammerspoon"
cask "magicavoxel"
cask "obs"
cask "playdate-simulator"
cask "steam"
mas "Logic Pro", id: 634148309
{{ end }}

{{- if eq .chezmoi.hostname "joulie" }}
brew "cairo"
brew "coreutils"
brew "exiftool"
brew "fwup"
brew "gtk+3"
brew "openjdk@17"
brew "pkg-config"
brew "pkg-config"
brew "squashfs"
brew "xz"
cask "microsoft-office"
mas "Transporter", id: 1450874784
{{ end }}

# vim:ft=conf
