# Taps
tap "charmbracelet/tap"
tap "d12frosted/emacs-plus"
tap "homebrew/services"
tap "morantron/tmux-fingers"
tap "nikitabobko/tap"
tap "timescam/tap"

# Formulae
brew "asyncapi"
brew "atuin"
brew "colima"
brew "fd"
brew "curl"
brew "docker"
brew "docker-compose"
brew "docker-credential-helper"
brew "eslint_d"
brew "exercism"
brew "eza"
brew "fish"
brew "fnlfmt"
brew "gcc"
brew "gh"
brew "git"
brew "glow"
brew "gnupg"
brew "gpg-tui"
brew "icu4c@77"
brew "libgccjit"
brew "libressl"
brew "llvm"
brew "luajit"
brew "mermaid-cli"
brew "mise"
brew "morantron/tmux-fingers/tmux-fingers"
brew "node"
brew "ossp-uuid"
brew "pgformatter"
brew "pkgconf"
brew "pngpaste"
brew "pyright"
brew "readline"
brew "sleek"
brew "sqlfluff"
brew "stylelint"
brew "timescam/tap/pay-respects"
brew "tio"
brew "tldr"
brew "tmuxp"
brew "tree"
brew "w3m"
brew "watchexec"
brew "zlib"

# Casks
cask "1password"
cask "1password-cli"
cask "aerospace"
cask "appcleaner"
cask "bartender"
cask "blender"
cask "cleanshot"
cask "daisydisk"
cask "dash"
cask "discord"
cask "dropbox"
cask "fantastical"
cask "figma"
cask "firefox"
cask "ghostty"
cask "gpg-suite-no-mail"
cask "istat-menus"
cask "karabiner-elements"
cask "keycastr"
cask "kitty"
cask "livebook"
cask "logitech-options"
cask "logseq"
cask "ngrok"
cask "obs"
cask "obsidian"
cask "opal-composer"
cask "postico"
cask "postman"
cask "raycast"
cask "utm"
cask "vlc"

{{- if eq .chezmoi.hostname "bienjensu" }}
cask "affinity-designer"
cask "affinity-photo"
cask "affinity-publisher"
cask "epic-games"
cask "godot"
cask "magicavoxel"
cask "playdate-simulator"
cask "steam"
{{ end }}
