--color=fg:{{palette.text}}
--color=bg:{{palette.base}}
--color=hl:{{palette.subtext_1}}
--color=fg+:{{palette.rosewater}}
--color=bg+:{{palette.surface_0}}
--color=hl+:{{palette.red}}
--color=prompt:{{palette.blue}}
--color=pointer:{{palette.blue}}
--color=marker:{{palette.yellow}}
--color=spinner:{{palette.pink}}
--color=gutter:{{palette.overlay_0}}
--color=info:{{palette.teal}}

# vim:ft=sh
