version: 3

agent:
  console_ui_color: transparent
  authtoken: {{ onepasswordRead "op://private/rxcwgwjegu62z3psoum5q3prca/credential" }}

endpoints:
  - name: ad-hoc
    upstream:
      url: 8000
  - name: phoenix
    upstream:
      url: 4000
