[tools]
bun = "1"
deno = "2"
elixir = "1.20-otp-29"
erlang = "29"
gleam = "1"
go = "1"
lua = "5"
lua-language-server = "3"
node = "26"
"npm:tombi" = "1"
"npm:typescript-language-server" = "6"
"npm:vscode-json-languageserver" = "1"
"uvx:xmlformatter" = "0"
prettier = "3"
python = "3"
rust = "1"
shellcheck = "0"
shfmt = "3"
stylua = "2"
usage = "6"
uv = "0"
