[tools]
deno = "latest"
elixir = "latest"
erlang = "latest"
gleam = "latest"
go = "latest"
lua = "latest"
lua-language-server = "latest"
node = "latest"
"npm:tombi" = "latest"
"pipx:xmlformatter" = "latest"
prettier = "latest"
python = "latest"
rust = "latest"
shellcheck = "latest"
shfmt = "latest"
stylua = "latest"
usage = "latest"
